RewriteEngine on
RewriteRule check_work/$ ./bubbles/crna.php?checkwork
RewriteRule bubbles-(.*)/$ ./bubbles/crna.php?$1
RewriteRule crna-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ordained-(.*)/$ ./bubbles/crna.php?$1
RewriteRule rcm-(.*)/$ ./bubbles/crna.php?$1
RewriteRule strategic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule h1b-(.*)/$ ./bubbles/crna.php?$1
RewriteRule hendry-(.*)/$ ./bubbles/crna.php?$1
RewriteRule booter-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cliffside-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lecturer-(.*)/$ ./bubbles/crna.php?$1
RewriteRule invested-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sherbert-(.*)/$ ./bubbles/crna.php?$1
RewriteRule smokers-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Gibraltar-(.*)/$ ./bubbles/crna.php?$1
RewriteRule zucchini-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Brett-(.*)/$ ./bubbles/crna.php?$1
RewriteRule buyers-(.*)/$ ./bubbles/crna.php?$1
RewriteRule o2-(.*)/$ ./bubbles/crna.php?$1
RewriteRule parameter-(.*)/$ ./bubbles/crna.php?$1
RewriteRule assumption-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mine-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ding-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ashland-(.*)/$ ./bubbles/crna.php?$1
RewriteRule answer-(.*)/$ ./bubbles/crna.php?$1
RewriteRule brookstone-(.*)/$ ./bubbles/crna.php?$1
RewriteRule clods-(.*)/$ ./bubbles/crna.php?$1
RewriteRule small-(.*)/$ ./bubbles/crna.php?$1
RewriteRule avenger-(.*)/$ ./bubbles/crna.php?$1
RewriteRule soduko-(.*)/$ ./bubbles/crna.php?$1
RewriteRule buenos-(.*)/$ ./bubbles/crna.php?$1
RewriteRule scrape-(.*)/$ ./bubbles/crna.php?$1
RewriteRule aftershave-(.*)/$ ./bubbles/crna.php?$1
RewriteRule impulse-(.*)/$ ./bubbles/crna.php?$1
RewriteRule vend-(.*)/$ ./bubbles/crna.php?$1
RewriteRule destinys-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jake-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sheltie-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lino-(.*)/$ ./bubbles/crna.php?$1
RewriteRule industry-(.*)/$ ./bubbles/crna.php?$1
RewriteRule oakhurst-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fifth-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cuming-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bcg-(.*)/$ ./bubbles/crna.php?$1
RewriteRule brookdale-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lampasas-(.*)/$ ./bubbles/crna.php?$1
RewriteRule glossing-(.*)/$ ./bubbles/crna.php?$1
RewriteRule vladimir-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wareham-(.*)/$ ./bubbles/crna.php?$1
RewriteRule little-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fairborn-(.*)/$ ./bubbles/crna.php?$1
RewriteRule append-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ruffle-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jc-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lowest-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tibetan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule potatos-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cindi-(.*)/$ ./bubbles/crna.php?$1
RewriteRule peyote-(.*)/$ ./bubbles/crna.php?$1
RewriteRule maxwells-(.*)/$ ./bubbles/crna.php?$1
RewriteRule frosted-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fal-(.*)/$ ./bubbles/crna.php?$1
RewriteRule loe-(.*)/$ ./bubbles/crna.php?$1
RewriteRule henderson-(.*)/$ ./bubbles/crna.php?$1
RewriteRule crueler-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wenatchee-(.*)/$ ./bubbles/crna.php?$1
RewriteRule throttling-(.*)/$ ./bubbles/crna.php?$1
RewriteRule infant-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bunk-(.*)/$ ./bubbles/crna.php?$1
RewriteRule applicators-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tipping-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ecuadorian-(.*)/$ ./bubbles/crna.php?$1
RewriteRule nonprofit-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bitumen-(.*)/$ ./bubbles/crna.php?$1
RewriteRule x300-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jayme-(.*)/$ ./bubbles/crna.php?$1
RewriteRule rehearsal-(.*)/$ ./bubbles/crna.php?$1
RewriteRule grannie-(.*)/$ ./bubbles/crna.php?$1
RewriteRule downtown-(.*)/$ ./bubbles/crna.php?$1
RewriteRule toccata-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Balkanize-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jug-(.*)/$ ./bubbles/crna.php?$1
RewriteRule similarities-(.*)/$ ./bubbles/crna.php?$1
RewriteRule filmography-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lampoons-(.*)/$ ./bubbles/crna.php?$1
RewriteRule customize-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lawers-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bittorrent-(.*)/$ ./bubbles/crna.php?$1
RewriteRule suggestive-(.*)/$ ./bubbles/crna.php?$1
RewriteRule notebook-(.*)/$ ./bubbles/crna.php?$1
RewriteRule crumples-(.*)/$ ./bubbles/crna.php?$1
RewriteRule namibia-(.*)/$ ./bubbles/crna.php?$1
RewriteRule generac-(.*)/$ ./bubbles/crna.php?$1
RewriteRule reflexive-(.*)/$ ./bubbles/crna.php?$1
RewriteRule honest-(.*)/$ ./bubbles/crna.php?$1
RewriteRule eigen-(.*)/$ ./bubbles/crna.php?$1
RewriteRule merrimac-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wee-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jakes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pts-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bogart-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wollongong-(.*)/$ ./bubbles/crna.php?$1
RewriteRule dietitian-(.*)/$ ./bubbles/crna.php?$1
RewriteRule margot-(.*)/$ ./bubbles/crna.php?$1
RewriteRule coleus-(.*)/$ ./bubbles/crna.php?$1
RewriteRule burma-(.*)/$ ./bubbles/crna.php?$1
RewriteRule amazers-(.*)/$ ./bubbles/crna.php?$1
RewriteRule haha-(.*)/$ ./bubbles/crna.php?$1
RewriteRule eight-(.*)/$ ./bubbles/crna.php?$1
RewriteRule encouragement-(.*)/$ ./bubbles/crna.php?$1
RewriteRule throught-(.*)/$ ./bubbles/crna.php?$1
RewriteRule deadlines-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mucus-(.*)/$ ./bubbles/crna.php?$1
RewriteRule greenway-(.*)/$ ./bubbles/crna.php?$1
RewriteRule proficiently-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pisos-(.*)/$ ./bubbles/crna.php?$1
RewriteRule itw-(.*)/$ ./bubbles/crna.php?$1
RewriteRule heatwave-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bf-(.*)/$ ./bubbles/crna.php?$1
RewriteRule butyl-(.*)/$ ./bubbles/crna.php?$1
RewriteRule claxton-(.*)/$ ./bubbles/crna.php?$1
RewriteRule resimleri-(.*)/$ ./bubbles/crna.php?$1
RewriteRule petco-(.*)/$ ./bubbles/crna.php?$1
RewriteRule c1-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cannibalizes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule milledgeville-(.*)/$ ./bubbles/crna.php?$1
RewriteRule neilson-(.*)/$ ./bubbles/crna.php?$1
RewriteRule aligator-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sulfa-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pinay-(.*)/$ ./bubbles/crna.php?$1
RewriteRule frameset-(.*)/$ ./bubbles/crna.php?$1
RewriteRule misty-(.*)/$ ./bubbles/crna.php?$1
RewriteRule succumb-(.*)/$ ./bubbles/crna.php?$1
RewriteRule reiterates-(.*)/$ ./bubbles/crna.php?$1
RewriteRule circumcision-(.*)/$ ./bubbles/crna.php?$1
RewriteRule boudoir-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ecuador-(.*)/$ ./bubbles/crna.php?$1
RewriteRule packard-(.*)/$ ./bubbles/crna.php?$1
RewriteRule doughty-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bangbros-(.*)/$ ./bubbles/crna.php?$1
RewriteRule dunmore-(.*)/$ ./bubbles/crna.php?$1
RewriteRule acai-(.*)/$ ./bubbles/crna.php?$1
RewriteRule nair-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Izvestia-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sequencer-(.*)/$ ./bubbles/crna.php?$1
RewriteRule alcohol-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tadpoles-(.*)/$ ./bubbles/crna.php?$1
RewriteRule technologists-(.*)/$ ./bubbles/crna.php?$1
RewriteRule aster-(.*)/$ ./bubbles/crna.php?$1
RewriteRule slopes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule archaize-(.*)/$ ./bubbles/crna.php?$1
RewriteRule brigs-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pact-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wheels-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tok-(.*)/$ ./bubbles/crna.php?$1
RewriteRule milwaukee-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sb-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gobi-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ssri-(.*)/$ ./bubbles/crna.php?$1
RewriteRule minor-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fontana-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cereals-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mib-(.*)/$ ./bubbles/crna.php?$1
RewriteRule escada-(.*)/$ ./bubbles/crna.php?$1
RewriteRule scenic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wombs-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wirless-(.*)/$ ./bubbles/crna.php?$1
RewriteRule orbit-(.*)/$ ./bubbles/crna.php?$1
RewriteRule louse-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sbc-(.*)/$ ./bubbles/crna.php?$1
RewriteRule memory-(.*)/$ ./bubbles/crna.php?$1
RewriteRule susie-(.*)/$ ./bubbles/crna.php?$1
RewriteRule add-(.*)/$ ./bubbles/crna.php?$1
RewriteRule takoma-(.*)/$ ./bubbles/crna.php?$1
RewriteRule embellishments-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Copernicus-(.*)/$ ./bubbles/crna.php?$1
RewriteRule felting-(.*)/$ ./bubbles/crna.php?$1
RewriteRule melts-(.*)/$ ./bubbles/crna.php?$1
RewriteRule kis-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bimetallic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule beetle-(.*)/$ ./bubbles/crna.php?$1
RewriteRule unlock-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gardenia-(.*)/$ ./bubbles/crna.php?$1
RewriteRule courier-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jenis-(.*)/$ ./bubbles/crna.php?$1
RewriteRule creamery-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gulch-(.*)/$ ./bubbles/crna.php?$1
RewriteRule telegrams-(.*)/$ ./bubbles/crna.php?$1
RewriteRule interiors-(.*)/$ ./bubbles/crna.php?$1
RewriteRule restlessness-(.*)/$ ./bubbles/crna.php?$1
RewriteRule weights-(.*)/$ ./bubbles/crna.php?$1
RewriteRule niu-(.*)/$ ./bubbles/crna.php?$1
RewriteRule firewalls-(.*)/$ ./bubbles/crna.php?$1
RewriteRule transfer-(.*)/$ ./bubbles/crna.php?$1
RewriteRule oms-(.*)/$ ./bubbles/crna.php?$1
RewriteRule crumbs-(.*)/$ ./bubbles/crna.php?$1
RewriteRule anarchic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule leila-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bodykits-(.*)/$ ./bubbles/crna.php?$1
RewriteRule plan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cistern-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bandwagons-(.*)/$ ./bubbles/crna.php?$1
RewriteRule manchester-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Richfield-(.*)/$ ./bubbles/crna.php?$1
RewriteRule msds-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pinning-(.*)/$ ./bubbles/crna.php?$1
RewriteRule rid-(.*)/$ ./bubbles/crna.php?$1
RewriteRule satillite-(.*)/$ ./bubbles/crna.php?$1
RewriteRule guaranteed-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gordons-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cuesta-(.*)/$ ./bubbles/crna.php?$1
RewriteRule below-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mccool-(.*)/$ ./bubbles/crna.php?$1
RewriteRule disturbia-(.*)/$ ./bubbles/crna.php?$1
RewriteRule aveda-(.*)/$ ./bubbles/crna.php?$1
RewriteRule attic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule go-(.*)/$ ./bubbles/crna.php?$1
RewriteRule relieve-(.*)/$ ./bubbles/crna.php?$1
RewriteRule addressing-(.*)/$ ./bubbles/crna.php?$1
RewriteRule guilty-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bnsf-(.*)/$ ./bubbles/crna.php?$1
RewriteRule reassures-(.*)/$ ./bubbles/crna.php?$1
RewriteRule greenbay-(.*)/$ ./bubbles/crna.php?$1
RewriteRule algorithm-(.*)/$ ./bubbles/crna.php?$1
RewriteRule anvil-(.*)/$ ./bubbles/crna.php?$1
RewriteRule berea-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jong-(.*)/$ ./bubbles/crna.php?$1
RewriteRule topography-(.*)/$ ./bubbles/crna.php?$1
RewriteRule repetitive-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lose-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cancellation-(.*)/$ ./bubbles/crna.php?$1
RewriteRule flux-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sweatshirts-(.*)/$ ./bubbles/crna.php?$1
RewriteRule newell-(.*)/$ ./bubbles/crna.php?$1
RewriteRule praxis-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cat-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bowel-(.*)/$ ./bubbles/crna.php?$1
RewriteRule camra-(.*)/$ ./bubbles/crna.php?$1
RewriteRule rake-(.*)/$ ./bubbles/crna.php?$1
RewriteRule whirl-(.*)/$ ./bubbles/crna.php?$1
RewriteRule meanders-(.*)/$ ./bubbles/crna.php?$1
RewriteRule shorthaired-(.*)/$ ./bubbles/crna.php?$1
RewriteRule apartment-(.*)/$ ./bubbles/crna.php?$1
RewriteRule salsa-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bulgaria-(.*)/$ ./bubbles/crna.php?$1
RewriteRule organs-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ephemeral-(.*)/$ ./bubbles/crna.php?$1
RewriteRule peridot-(.*)/$ ./bubbles/crna.php?$1
RewriteRule charlston-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tonsils-(.*)/$ ./bubbles/crna.php?$1
RewriteRule devi-(.*)/$ ./bubbles/crna.php?$1
RewriteRule protech-(.*)/$ ./bubbles/crna.php?$1
RewriteRule valentin-(.*)/$ ./bubbles/crna.php?$1
RewriteRule keepers-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mendelssohn-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bar-(.*)/$ ./bubbles/crna.php?$1
RewriteRule stir-(.*)/$ ./bubbles/crna.php?$1
RewriteRule constantinople-(.*)/$ ./bubbles/crna.php?$1
RewriteRule invoices-(.*)/$ ./bubbles/crna.php?$1
RewriteRule related-(.*)/$ ./bubbles/crna.php?$1
RewriteRule policia-(.*)/$ ./bubbles/crna.php?$1
RewriteRule motoring-(.*)/$ ./bubbles/crna.php?$1
RewriteRule oat-(.*)/$ ./bubbles/crna.php?$1
RewriteRule biological-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ft-(.*)/$ ./bubbles/crna.php?$1
RewriteRule marionette-(.*)/$ ./bubbles/crna.php?$1
RewriteRule phan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule antiseptic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ills-(.*)/$ ./bubbles/crna.php?$1
RewriteRule flan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sab-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sighing-(.*)/$ ./bubbles/crna.php?$1
RewriteRule kenan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lumbar-(.*)/$ ./bubbles/crna.php?$1
RewriteRule metals-(.*)/$ ./bubbles/crna.php?$1
RewriteRule stencil-(.*)/$ ./bubbles/crna.php?$1
RewriteRule thug-(.*)/$ ./bubbles/crna.php?$1
RewriteRule taillight-(.*)/$ ./bubbles/crna.php?$1
RewriteRule churchs-(.*)/$ ./bubbles/crna.php?$1
RewriteRule vacanze-(.*)/$ ./bubbles/crna.php?$1
RewriteRule miscarriage-(.*)/$ ./bubbles/crna.php?$1
RewriteRule staircase-(.*)/$ ./bubbles/crna.php?$1
RewriteRule calandar-(.*)/$ ./bubbles/crna.php?$1
RewriteRule vicki-(.*)/$ ./bubbles/crna.php?$1
RewriteRule attica-(.*)/$ ./bubbles/crna.php?$1
RewriteRule agc-(.*)/$ ./bubbles/crna.php?$1
RewriteRule biochemistry-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tetra-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wga-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cowhide-(.*)/$ ./bubbles/crna.php?$1
RewriteRule inspectors-(.*)/$ ./bubbles/crna.php?$1
RewriteRule resultants-(.*)/$ ./bubbles/crna.php?$1
RewriteRule hew-(.*)/$ ./bubbles/crna.php?$1
RewriteRule moen-(.*)/$ ./bubbles/crna.php?$1
RewriteRule schmidt-(.*)/$ ./bubbles/crna.php?$1
RewriteRule vedic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule roller-(.*)/$ ./bubbles/crna.php?$1
RewriteRule quarrels-(.*)/$ ./bubbles/crna.php?$1
RewriteRule unobtainable-(.*)/$ ./bubbles/crna.php?$1
RewriteRule powermatic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule returns-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wilkinson-(.*)/$ ./bubbles/crna.php?$1
RewriteRule independent-(.*)/$ ./bubbles/crna.php?$1
RewriteRule saleen-(.*)/$ ./bubbles/crna.php?$1
RewriteRule insufficiency-(.*)/$ ./bubbles/crna.php?$1
RewriteRule weight-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wren-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sinkhole-(.*)/$ ./bubbles/crna.php?$1
RewriteRule plastique-(.*)/$ ./bubbles/crna.php?$1
RewriteRule warrington-(.*)/$ ./bubbles/crna.php?$1
RewriteRule rosemary-(.*)/$ ./bubbles/crna.php?$1
RewriteRule largest-(.*)/$ ./bubbles/crna.php?$1
RewriteRule chipmunks-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wham-(.*)/$ ./bubbles/crna.php?$1
RewriteRule finch-(.*)/$ ./bubbles/crna.php?$1
RewriteRule legged-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mapquest-(.*)/$ ./bubbles/crna.php?$1
RewriteRule galilee-(.*)/$ ./bubbles/crna.php?$1
RewriteRule waterfall-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pacifier-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gong-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Synge-(.*)/$ ./bubbles/crna.php?$1
RewriteRule campbells-(.*)/$ ./bubbles/crna.php?$1
RewriteRule atomic-(.*)/$ ./bubbles/crna.php?$1
RewriteRule photon-(.*)/$ ./bubbles/crna.php?$1
RewriteRule dumont-(.*)/$ ./bubbles/crna.php?$1
RewriteRule undertaker-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cobras-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fatter-(.*)/$ ./bubbles/crna.php?$1
RewriteRule presale-(.*)/$ ./bubbles/crna.php?$1
RewriteRule riches-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cava-(.*)/$ ./bubbles/crna.php?$1
RewriteRule meter-(.*)/$ ./bubbles/crna.php?$1
RewriteRule upnp-(.*)/$ ./bubbles/crna.php?$1
RewriteRule altos-(.*)/$ ./bubbles/crna.php?$1
RewriteRule assistance-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fabolous-(.*)/$ ./bubbles/crna.php?$1
RewriteRule academie-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cancelled-(.*)/$ ./bubbles/crna.php?$1
RewriteRule justus-(.*)/$ ./bubbles/crna.php?$1
RewriteRule m10-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ducks-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tactile-(.*)/$ ./bubbles/crna.php?$1
RewriteRule anglo-(.*)/$ ./bubbles/crna.php?$1
RewriteRule corrector-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Xeroxing-(.*)/$ ./bubbles/crna.php?$1
RewriteRule linda-(.*)/$ ./bubbles/crna.php?$1
RewriteRule socal-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fagan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cryptogram-(.*)/$ ./bubbles/crna.php?$1
RewriteRule caesars-(.*)/$ ./bubbles/crna.php?$1
RewriteRule instability-(.*)/$ ./bubbles/crna.php?$1
RewriteRule frogs-(.*)/$ ./bubbles/crna.php?$1
RewriteRule arinc-(.*)/$ ./bubbles/crna.php?$1
RewriteRule dom-(.*)/$ ./bubbles/crna.php?$1
RewriteRule strawberry-(.*)/$ ./bubbles/crna.php?$1
RewriteRule unwrapping-(.*)/$ ./bubbles/crna.php?$1
RewriteRule instant-(.*)/$ ./bubbles/crna.php?$1
RewriteRule trey-(.*)/$ ./bubbles/crna.php?$1
RewriteRule kerk-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bartender-(.*)/$ ./bubbles/crna.php?$1
RewriteRule alien-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tinkerbell-(.*)/$ ./bubbles/crna.php?$1
RewriteRule reverb-(.*)/$ ./bubbles/crna.php?$1
RewriteRule boxcar-(.*)/$ ./bubbles/crna.php?$1
RewriteRule articles-(.*)/$ ./bubbles/crna.php?$1
RewriteRule effectiveness-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wisc-(.*)/$ ./bubbles/crna.php?$1
RewriteRule aid-(.*)/$ ./bubbles/crna.php?$1
RewriteRule surfin-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sativa-(.*)/$ ./bubbles/crna.php?$1
RewriteRule necktie-(.*)/$ ./bubbles/crna.php?$1
RewriteRule dragonfly-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mini-(.*)/$ ./bubbles/crna.php?$1
RewriteRule romeo-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sieve-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bola-(.*)/$ ./bubbles/crna.php?$1
RewriteRule occipital-(.*)/$ ./bubbles/crna.php?$1
RewriteRule knotted-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bellas-(.*)/$ ./bubbles/crna.php?$1
RewriteRule advertisement-(.*)/$ ./bubbles/crna.php?$1
RewriteRule birdsong-(.*)/$ ./bubbles/crna.php?$1
RewriteRule hausfeld-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pugh-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gourmet-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sound-(.*)/$ ./bubbles/crna.php?$1
RewriteRule inroad-(.*)/$ ./bubbles/crna.php?$1
RewriteRule freeland-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gibbons-(.*)/$ ./bubbles/crna.php?$1
RewriteRule holi-(.*)/$ ./bubbles/crna.php?$1
RewriteRule supervisors-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pittsboro-(.*)/$ ./bubbles/crna.php?$1
RewriteRule shoemaker-(.*)/$ ./bubbles/crna.php?$1
RewriteRule rollercoaster-(.*)/$ ./bubbles/crna.php?$1
RewriteRule whittle-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mohan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule elephants-(.*)/$ ./bubbles/crna.php?$1
RewriteRule allegro-(.*)/$ ./bubbles/crna.php?$1
RewriteRule saosin-(.*)/$ ./bubbles/crna.php?$1
RewriteRule poses-(.*)/$ ./bubbles/crna.php?$1
RewriteRule minh-(.*)/$ ./bubbles/crna.php?$1
RewriteRule videoclips-(.*)/$ ./bubbles/crna.php?$1
RewriteRule holdings-(.*)/$ ./bubbles/crna.php?$1
RewriteRule renewed-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ruf-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wethersfield-(.*)/$ ./bubbles/crna.php?$1
RewriteRule leatherman-(.*)/$ ./bubbles/crna.php?$1
RewriteRule superheroes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule meant-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cochise-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Robertsons-(.*)/$ ./bubbles/crna.php?$1
RewriteRule dieters-(.*)/$ ./bubbles/crna.php?$1
RewriteRule costumes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule India-(.*)/$ ./bubbles/crna.php?$1
RewriteRule labelled-(.*)/$ ./bubbles/crna.php?$1
RewriteRule machusetts-(.*)/$ ./bubbles/crna.php?$1
RewriteRule unblockable-(.*)/$ ./bubbles/crna.php?$1
RewriteRule curpage-(.*)/$ ./bubbles/crna.php?$1
RewriteRule remington-(.*)/$ ./bubbles/crna.php?$1
RewriteRule marlton-(.*)/$ ./bubbles/crna.php?$1
RewriteRule iden-(.*)/$ ./bubbles/crna.php?$1
RewriteRule stripes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule levitt-(.*)/$ ./bubbles/crna.php?$1
RewriteRule albino-(.*)/$ ./bubbles/crna.php?$1
RewriteRule salvatore-(.*)/$ ./bubbles/crna.php?$1
RewriteRule boyz-(.*)/$ ./bubbles/crna.php?$1
RewriteRule jasons-(.*)/$ ./bubbles/crna.php?$1
RewriteRule aquarium-(.*)/$ ./bubbles/crna.php?$1
RewriteRule futbol-(.*)/$ ./bubbles/crna.php?$1
RewriteRule algae-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mosin-(.*)/$ ./bubbles/crna.php?$1
RewriteRule shields-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Mississippi-(.*)/$ ./bubbles/crna.php?$1
RewriteRule samoan-(.*)/$ ./bubbles/crna.php?$1
RewriteRule playmobil-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pse-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fictional-(.*)/$ ./bubbles/crna.php?$1
RewriteRule hogwarts-(.*)/$ ./bubbles/crna.php?$1
RewriteRule babel-(.*)/$ ./bubbles/crna.php?$1
RewriteRule hotter-(.*)/$ ./bubbles/crna.php?$1
RewriteRule tomahawk-(.*)/$ ./bubbles/crna.php?$1
RewriteRule fallen-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cheats-(.*)/$ ./bubbles/crna.php?$1
RewriteRule presa-(.*)/$ ./bubbles/crna.php?$1
RewriteRule ludington-(.*)/$ ./bubbles/crna.php?$1
RewriteRule deforest-(.*)/$ ./bubbles/crna.php?$1
RewriteRule builder-(.*)/$ ./bubbles/crna.php?$1
RewriteRule backplanes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule purge-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bowl-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sanger-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Australianizes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule Nobel-(.*)/$ ./bubbles/crna.php?$1
RewriteRule textiles-(.*)/$ ./bubbles/crna.php?$1
RewriteRule corrective-(.*)/$ ./bubbles/crna.php?$1
RewriteRule kidnap-(.*)/$ ./bubbles/crna.php?$1
RewriteRule boathouse-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bibles-(.*)/$ ./bubbles/crna.php?$1
RewriteRule unsigned-(.*)/$ ./bubbles/crna.php?$1
RewriteRule lun-(.*)/$ ./bubbles/crna.php?$1
RewriteRule membranes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sacraments-(.*)/$ ./bubbles/crna.php?$1
RewriteRule bendigo-(.*)/$ ./bubbles/crna.php?$1
RewriteRule timbuktu-(.*)/$ ./bubbles/crna.php?$1
RewriteRule louvered-(.*)/$ ./bubbles/crna.php?$1
RewriteRule cantina-(.*)/$ ./bubbles/crna.php?$1
RewriteRule separating-(.*)/$ ./bubbles/crna.php?$1
RewriteRule brandy-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mukilteo-(.*)/$ ./bubbles/crna.php?$1
RewriteRule noma-(.*)/$ ./bubbles/crna.php?$1
RewriteRule inequality-(.*)/$ ./bubbles/crna.php?$1
RewriteRule godsmack-(.*)/$ ./bubbles/crna.php?$1
RewriteRule angora-(.*)/$ ./bubbles/crna.php?$1
RewriteRule wallet-(.*)/$ ./bubbles/crna.php?$1
RewriteRule motores-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pitures-(.*)/$ ./bubbles/crna.php?$1
RewriteRule placid-(.*)/$ ./bubbles/crna.php?$1
RewriteRule seda-(.*)/$ ./bubbles/crna.php?$1
RewriteRule shaffer-(.*)/$ ./bubbles/crna.php?$1
RewriteRule prepaid-(.*)/$ ./bubbles/crna.php?$1
RewriteRule dell-(.*)/$ ./bubbles/crna.php?$1
RewriteRule travelers-(.*)/$ ./bubbles/crna.php?$1
RewriteRule distributors-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pinckney-(.*)/$ ./bubbles/crna.php?$1
RewriteRule hersey-(.*)/$ ./bubbles/crna.php?$1
RewriteRule blackjack-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sephia-(.*)/$ ./bubbles/crna.php?$1
RewriteRule kari-(.*)/$ ./bubbles/crna.php?$1
RewriteRule pikes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule sars-(.*)/$ ./bubbles/crna.php?$1
RewriteRule thefts-(.*)/$ ./bubbles/crna.php?$1
RewriteRule gutter-(.*)/$ ./bubbles/crna.php?$1
RewriteRule policies-(.*)/$ ./bubbles/crna.php?$1
RewriteRule headhunters-(.*)/$ ./bubbles/crna.php?$1
RewriteRule nantes-(.*)/$ ./bubbles/crna.php?$1
RewriteRule byrne-(.*)/$ ./bubbles/crna.php?$1
RewriteRule hse-(.*)/$ ./bubbles/crna.php?$1
RewriteRule birdseye-(.*)/$ ./bubbles/crna.php?$1
RewriteRule kreuk-(.*)/$ ./bubbles/crna.php?$1
RewriteRule verdict-(.*)/$ ./bubbles/crna.php?$1
RewriteRule mime-(.*)/$ ./bubbles/crna.php?$1