# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName djwesterfield.com
AuthUserFile /home/djwester/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/djwester/public_html/_vti_pvt/service.grp
