.slider-wrap {
	position: relative;
	width: 540px; 
	height: 325px;
	overflow: hidden;
}

.csw { width: 100%; background: none; overflow:hidden; }
.csw .loading {margin: 325px 0 0 0; text-align: center; }

.stripViewer { 
	overflow: hidden; 
	width: 540px; 
	height: 325px;
}

.panelContainer {
	position: relative;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
}

.panelContainer .panel {
	float: left;
}

.panelContainer .panel .wrapper {
	background: none;
}

.stripNav ul { display: none; }

.stripNavL, .stripNavR { /* The left and right arrows */
	position: absolute;
	top: 110px;
	text-indent: -9999px;
	z-index: 9999;
}

.stripNavL a {
	background: url(images/arrow-left.png) no-repeat center;
	display: block;
	height: 80px;
	width: 54px;
}

.stripNavR a {
	background: url(images/arrow-right.png) no-repeat center;
	display: block;
	height: 80px;
	width: 54px;
}

.stripNavR {
	right: 0px;
}

#interior {
	width: 575px;
	margin: -40px auto;
	background: #e3e1cc;
	padding: 0 25px 20px 21px;
}